<div class="mdl-layout mdl-color--grey-100">
    <h3>How to Use Murlocs Deck Builder</h3>

    <div>Murlocs Deck Builder is a virtual treasure trove of awesomeness in giving you what you need in HeartStone to become a better player. That being said, we have a lot of different places to go and you may need some assistance on how to use the site.
        That being said, let’s get into some questions to get you on your way.</div>

    <h3>Do you want a better deck but don’t know how to choose which cards?</h3>
    <div>
        No problem. One of the cool things we do on HeartStone Deck Builder is take a tally of which of the HeartStone cards the competitive players use the most. This will give you some indication of what the most widely used HeartStone cards are, at any given
        time. So first off you’ll want to go to the Most Used Cards page and evaluate what cards are currently popular. You’re going to want to filter for your arena level to ensure that you can actually obtain the HeartStone cards at your level. Then
        take a look at what’s effective and then try to integrate those HeartStone cards into your deck.

    </div>
</div>