<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Hearthstone Deck Builder</span>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" routerLink="/">Home</a>
        <a class="mdl-navigation__link" routerLink="/heroes">Heroes</a>
        <a class="mdl-navigation__link" routerLink="/cards">Cards</a>
      <a class="mdl-navigation__link" routerLink="/decks">Decks</a>
      </nav>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" routerLink="/login" (click)="auth.login()" *ngIf="!auth.authenticated()">Login</a>
        <a class="mdl-navigation__link" routerLink="/logout" (click)="auth.logout()" *ngIf="auth.authenticated()">Logout</a>
        <a class="mdl-navigation__link" routerLink="/profile">Profile</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Quick Menu</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" routerLink="/">Home</a>
      <a class="mdl-navigation__link" routerLink="/heroes">Heroes</a>
      <a class="mdl-navigation__link" routerLink="/cards">Cards</a>
      <a class="mdl-navigation__link" routerLink="/decks">Decks</a>           
      <a class="mdl-navigation__link" routerLink="/profile">Profile</a>
      <a class="mdl-navigation__link" href="/login" (click)="auth.login()" *ngIf="!auth.authenticated()">Login</a>
      <a class="mdl-navigation__link" href="/logout" (click)="auth.logout()" *ngIf="auth.authenticated()">Logout</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div> 
        <!-- Add spacer to push Footer down when not enough content -->
            <div class="mdl-layout-spacer"></div>
     
    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">
          More Information
        </div>
      </div>
      <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#">Help</a></li>
          <li><a href="#">Privacy and Terms</a></li>
          <li><a href="#">User Agreement</a></li>
        </ul>
      </div>
    </footer> 
  </main>   
</div>