<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Hearthstone Deck Builder</span>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" routerLink="/">Home</a>
        <a class="mdl-navigation__link" routerLink="/heroes">Heroes</a>       

        <a id="demo-menu-lower-left" class="mdl-navigation__link">Cards</a> <!-- TODO: link must cnage mouse cursor -->
        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
          <li class="mdl-menu__item"><a routerLink="/cards/Basic">Basic</a></li>
          <li class="mdl-menu__item mdl-menu__item--full-bleed-divider"><a routerLink="/cards/Classic">Classic</a></li>
          <li disabled class="mdl-menu__item"><a routerLink="/cards/Promo">Promo</a></li>
          <li class="mdl-menu__item"><a routerLink="/cards/Reward">Reward</a></li>
          <li class="mdl-menu__item"><a routerLink="/cards/Naxxramas">Naxxramas</a></li>
          <li class="mdl-menu__item"><a routerLink="/cards">Goblins vs Gnomes</a></li>
          <li class="mdl-menu__item"><a routerLink="/cards">Blackrock Mountain</a></li>
          <li class="mdl-menu__item"><a routerLink="/cards">The Grand Mountain</a></li>
          <li class="mdl-menu__item"><a routerLink="/cards">The League of Explorers</a></li>          
        </ul>
       
      <a class="mdl-navigation__link" routerLink="/decks">Decks</a>
      </nav>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" routerLink="/profile" *ngIf="auth.authenticated()">Profile</a>        
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" (click)="auth.login()" *ngIf="!auth.authenticated()">Login</button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" (click)="auth.logout()" *ngIf="auth.authenticated()">Logout</button>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Quick Menu</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" routerLink="/">Home</a>
      <a class="mdl-navigation__link" routerLink="/heroes">Heroes</a>
      <a class="mdl-navigation__link" routerLink="/cards">Cards</a>
      <a class="mdl-navigation__link" routerLink="/decks">Decks</a>           
      <a class="mdl-navigation__link" routerLink="/profile" *ngIf="auth.authenticated()">Profile</a>
      <hr>
      <button class="mdl-button mdl-js-button" (click)="auth.login()" *ngIf="!auth.authenticated()">Login</button>
      <button class="mdl-button mdl-js-button" (click)="auth.logout()" *ngIf="auth.authenticated()">Logout</button>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div> 
        <!-- Add spacer to push Footer down when not enough content -->
            <div class="mdl-layout-spacer"></div>
     
    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">
          More Information
        </div>
      </div>
      <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
          <li><a href="#">Help</a></li>
          <li><a href="#">Privacy and Terms</a></li>
          <li><a href="#">User Agreement</a></li>
        </ul>
      </div>
    </footer> 
  </main>   
</div>